$bck-white: #fff;
$bck-grey: #fafafa;
$grad-one: #da3394;
$grad-two: #e03c67;
$grad-three: #f3753b;
$grad-four: #f99b4a;
$font-c-primary: #262626;
$font-c-secondary: #8e8e8e;
$font-c-footer: #c7c7c7;
$boarder-c-grey: #dbdbdb;
$boarder-c-grey-secondary: #efefef;
$link-color: #0095f6;
$link-color-secondary: #b3dffc;
$font: "Montserrat", sans-serif;
