@use "../global" as g;
footer {
  color: g.$font-c-footer;
  font-size: 0.8em;
  margin-top: 2em;

  .links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 2em 0;

    li {
      cursor: pointer;
      &::after {
        // content: "\2022";
        content: "   |   ";
        margin: 0 0.25em;
      }
      &:last-child::after {
        content: "";
      }
    }
  }
  //   .copyright {
  //   }
}
